<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".MyApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM392_FinalProject">
        
        <!-- Login Activity - Launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity" />
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        
        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Product Detail Activity -->
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Category Products Activity -->
        <activity
            android:name=".CategoryProductsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Search Activity -->
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Forgot Password Activity -->
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Verify OTP Activity -->
        <activity
            android:name=".activities.VerifyOtpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Reset Password Activity -->
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.VerifyOtpActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Order Activity -->
        <activity
            android:name=".OrderActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- About Us Activity -->
        <activity
            android:name=".AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Admin Dashboard Activity -->
        <activity
            android:name=".activities.AdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Manage Users Activity -->
        <activity
            android:name=".activities.ManageUsersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.AdminDashboardActivity"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Manage Categories Activity -->
        <activity
            android:name=".activities.ManageCategoriesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.AdminDashboardActivity"
            android:theme="@style/Theme.PRM392_FinalProject" />
        
        <!-- Manage Products Activity -->
        <activity
            android:name=".activities.ManageProductsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.AdminDashboardActivity"
            android:theme="@style/Theme.PRM392_FinalProject" />
            
    </application>

</manifest>